html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}

h1, h2, h3, h4, h5, h6 {
	font-family: Open Sans;
	float:left;
}

body {
	font-family:Arial;
}

.graphics {
	position:absolute;
	top:0;
}

ul img {
	float:left;
	padding-top:4px;
	padding-left:5px;
	padding-right:3px;
	width:20px;
}

#split_container {
	position:absolute;
	top:0;
	line-height:27px;
	font-family:Open Sans;
	font-weight:600;
	width:314px;
	margin-top:126px;
	margin-left:171px;
	color:white;
}

#meters {
	position: absolute;
	top: 0px;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	margin-left: 747px;
	margin-top: 581px;
	text-align: right;
	width: 80px;
	color: #222;
	padding-right: 10px;
}

#time {
	position:absolute;top:0;
	font-size:29px;
	font-weight:bold;
	font-style:italic;
	margin-left:667px;
	margin-top:610px;
	text-align:right;
	width:120px;
	color:#222;
	padding-right:10px;
}

.lane {
	font-weight:bold;
	float:left;
	width:28px;
	text-align:center;
}

.time {
	float:left;
	text-align:right;
	width:68px;
	font-size:17px;
}

.split_row {
	height:27px;
	display:block;
	margin-bottom:1px;
}

.school_and_name {
	width:213px;
}

.school {
	color:rgba(255,255,255,0.8);
	font-weight:400;
	width:65px;
	display:block;
	float:left;
}

.name {
	font-size:18px;
	overflow:hidden;
}